<div id = "yield">


<div id = "main_content_index">

<p id = "flash_notice_users_index">
   <%= flash[:notice] %>
</p>

<h1 class = "center index_color">Keep your notes secure and private here</h1>
<h1 class = "center index_color">Add images and markup to your ideas</h1> 
<h1 class = "center index_color">Start writing your Ideas</h1>
<p class = "center"><%= link_to("Create an account", {:action => "new"},
                                :id => "create_account_button") %></p>


</div>
</div>